<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> Your Favorite Movies Reviewed </h1>
    <p> Join Sign Up /bABLIFSkjfda;l <p>
    <p> <%= link_to "Sign up to Review", new_user_registration_path, class: "btn btn-primary btn-lg" %> </p>
  </div>

  <div class="row">
  <% @movies.each do |movie| %>
    <div class= "col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
      </div>
    </div>
  <% end %>
</div>

<% else %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class= "col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
      </div>
    </div>
  <% end %>
</div>

<%end%>